<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button Href="/login" >
          Ir al Login
        </ion-button>
      </ion-buttons>
      <ion-title>Feed</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content fullscreen>
    <ion-card>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/icon/LykosDog.jpg">
        </ion-avatar>
        <ion-textarea placeholder="  ¿Necesitas reportar algo?"></ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="block"size="small"class="button-add" ><ion-icon name="camera"></ion-icon> Foto</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" size ="small"class="button-add" ><ion-icon name="image"></ion-icon> Agregar</ion-button>
        </ion-col>        
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          routerLink="/tabs/inicio"
         class="ion-margin-top" type="submit" expand="block" color="secondary" >Crear Publicacion</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
        
    
    <ion-card>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/icon/Profile.png">
        </ion-avatar>
        <ion-label>
          <h1>Nombre Usuario</h1>
          <p>Reporte</p>
        </ion-label>
        
      </ion-item>
      
      <ion-card-content>
        <img src="/assets/icon/Imagen1.jpg">
        <ion-row>
          <ion-col>
            <p>
              <ion-icon name="thumbs-up"></ion-icon> John and 30 others
            </p>
          </ion-col>
          <ion-col class="ion-text-end">
            <p>
              10 comments
            </p>
          </ion-col>
        </ion-row>
        
        <ion-row>
        <ion-col class="ion-text-center">
          <ion-button  size="small"><ion-icon name="thumbs-up"></ion-icon> Like</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button  size="small"><ion-icon name="chatbubbles"></ion-icon> Comment</ion-button>
        </ion-col>
        
      </ion-row>
      </ion-card-content>
      
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/icon/ProfileSeg.png">
        </ion-avatar>
        <ion-label>
          <h1>User</h1>
          <p>Co-worker</p>
        </ion-label>
        
      </ion-item>
      
      <ion-card-content>
        <img src="/assets/icon/Imagen1.jpg">
        <ion-row>
          <ion-col>
            <p>
              <ion-icon name="thumbs-up"></ion-icon> John and 30 others
            </p>
          </ion-col>
          <ion-col class="ion-text-end">
            <p>
              10 comments
            </p>
          </ion-col>
        </ion-row>
        
        <ion-row>
        <ion-col class="ion-text-center">
          <ion-button  size="small"><ion-icon name="thumbs-up"></ion-icon> Like</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button  size="small"><ion-icon name="chatbubbles"></ion-icon> Comment</ion-button>
        </ion-col>
        
      </ion-row>
      </ion-card-content>
      
    </ion-card>
    
  </ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="add" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  
  </ion-app>