<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title class="ion-text-center">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="seccion-login">
  
  <img class="img-logo" src="assets/icon/LogoLikosCaptura.png" alt="">
  
  <div class="login-form ion-padding" >
   
    <div>
      
    <ion-item class="form-input" lines="inset">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label position="floating">Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
   </div>
    <ion-item class="form-input" lines="inset">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label position="floating">Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
      
    </ion-item>
    
  </div>
  <ion-item class="ion-padding-start" lines="none">
    <p>Recordarme</p>
    <ion-checkbox color="primary"  slot="start"></ion-checkbox>
  </ion-item> 
 <div class="action-button ">
    
      <ion-button class="login-button"
      routerLink="/tabs/inicio"
      type="submit"  expand="block" >Iniciar Sesion</ion-button>
     

     <p class="ion-text-center">
      <a routerLink="/login/forgot-password">¿Olvidaste tu contraseña? </a>
    </p>
        
  </div>

  <div class="action-button ">
    
    <ion-button 
    routerLink="/login/register"
    type="submit" fill="outline" expand="block" >Registrarse</ion-button>
     
</div>
      
  </ion-content>
