<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img class="img-logo" src="assets/icon/LogoLikosCaptura.png" alt="">
  
  <form autocomplete="off">
   
    <div class="form-input">
      <ion-icon name="mail-outline"></ion-icon>
    <ion-item lines="full">
      <ion-label position="stacked">Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
  </div>
    <ion-item lines="full">
      <ion-label position="stacked">Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
      
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button 
        routerLink="/tabs/inicio"
       class="ion-margin-top" type="submit" (click)="onLogin(email, password)" expand="block" >Iniciar Sesion</ion-button>
      </ion-col>
    </ion-row>
  </form>
    <ion-row>
      <ion-col>
        <p class="ion-text-start">
          <a routerLink="/forgot-password">¿Olvidaste tu contraseña? </a>
        </p>
      </ion-col>
      <ion-row>
        <ion-col>
          <p class="ion-text-end">
            <a routerLink="/register">Crea una cuenta </a>
          </p>
        </ion-col>
      </ion-row>
    </ion-row>

    <!-- Login con google-->
    <!--<span class="center-span"> or </span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block"
          >Login with Google
        </ion-button>
      </ion-col>
    </ion-row>
  -->
  
  </ion-content>
