<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
    <ion-title class="ion-text-center">¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="ion-padding-top" (submit)="SendLinkReset()">
    <div class="ion-text-center">
      <p>
        Escribe tu correo para enviarte las instrucciones para recuperar tu contraseña :)
      </p>
    </div>
    <ion-item>
      <ion-input type="text" [(ngModel)]="email" placeholder="Ingrese su correo electronico" name="email">

      </ion-input>
    </ion-item>
    <ion-button class="sendReset-button ion-margin-top" type="submit" expand="block">Enviar</ion-button>
  </form>

</ion-content>
